<h1>{{.Title}}</h1>

{{range .FeedItems}}<div {{if .Hide}} hidden="true" {{end}}><h3>{{.Title}}</h3><h4>{{.AuthorName}}, {{.Published.Month}} {{.Published.Day}} {{.Published.Year}}, <a href="{{.Link}}">{{.Url}}</a></h4>{{.Description}}<br/><form action="/hide" method="post"><input type="number" hidden="true" readonly="true" name="ID" value="{{.ID}}"><input type="submit" value="Hide"></form></div>{{end}}
